* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

.conteiner {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.quadrado {
    width: 150px;
    height: 150px;
}

.verde {
    background-color: green;
}

.roxo {
    background-color:purple;
}
