* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

.retangulo {
    width: 10%;
    height: 200px;
    background-color: rgb(63, 63, 255);
    margin: 0 auto 20px;
    margin-top: 4%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    border: 2px solid black;
}

.container {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.quadrado {
    width: 150px;
    height: 150px;
}

.verde {
    background-color: green;
}

.roxo {
    background-color:purple;
}

.semaforo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    gap: 30px;
    background-color: rgb(68, 68, 68);
    width: 200px;
    border-radius: 15px;
    margin: 0 auto 30px;
}

.sinal {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.green {
    background-color: green;
    box-shadow: 0 0 20px green;
}

.vermelho {
    background-color: red;
    box-shadow: 0 0 20px #ff0000;
}

.amarelo {
    background-color: yellow;
    box-shadow: 0 0 20px yellow;
}